{% extends 'base.html' %}

{% block content %}
  <h2>Opened/Closed PRs per day</h2>

  <div id="opened-merged-prs-chart"></div>
{% endblock %}

{% block extra_scripts %}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>

  <script>
    Highcharts.stockChart('opened-merged-prs-chart', {
        chart: {
            alignTicks: false
        },

        title: {
            text: 'Created/merged PRs on a particular date'
        },

        series: [{
            name: 'created',
            type: 'column',
            data: {{ created_prs }},
            color: 'red'
        }, {
            name: 'merged',
            type: 'column',
            data: {{ merged_prs }},
            color: 'green'
        }]
    })

  </script>
{% endblock %}